<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta name="description" content="Start your development with a Dashboard for Node.js.">
<meta name="author" content="Creative Tim">
<title>@ViewData["Title"] | Argon Dashboard - Free ASP.NET Core Dashboard</title>
<!-- Favicon -->
<link href="~/img/brand/favicon.png" rel="icon" type="image/png">
<!-- Extra details for Live View on GitHub Pages -->
<!-- Canonical SEO -->
<link rel="canonical" href="https://www.creative-tim.com/live/argon-dashboard-asp-net" />

<partial name="_ExternalScripts" />

<partial name="_ThemeStyles" />

<!-- Social tags -->
<meta name="keywords" content="creative tim, udevoffice, html dashboard, html css dashboard, web dashboard, bootstrap 4 dashboard, node dashboard, node.js dashboard, bootstrap 4, node.js, node, css3 dashboard, bootstrap 4 admin, argon node dashboard, argon node.js dashboard, bootstrap 4 dashboard, frontend, responsive bootstrap 4 dashboard, argon node design, argon node.js design, argon node dashboard, argon node.js dashboard, bootstrap">
<meta name="description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Asp.net framework, the newest go-to technology for top companies.It features a huge number of components that can help you create amazing websites and brings with itself innumerable advantages: lightweight, fast, scalable and modern way to execute your next top app.">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Argon Dashboard Asp.net by Creative Tim">
<meta itemprop="description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Asp.net framework, the newest go-to technology for top companies.It features a huge number of components that can help you create amazing websites and brings with itself innumerable advantages: lightweight, fast, scalable and modern way to execute your next top app.">

<meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/162/opt_ad_asp_thumbnail.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@@creativetim">
<meta name="twitter:title" content="Argon Dashboard Asp.net by Creative Tim">

<meta name="twitter:description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Asp.net framework, the newest go-to technology for top companies.It features a huge number of components that can help you create amazing websites and brings with itself innumerable advantages: lightweight, fast, scalable and modern way to execute your next top app.">
<meta name="twitter:creator" content="@@creativetim">
<meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/162/opt_ad_asp_thumbnail.jpg">

<partial name="_OpenGraph" />