@{
    ViewData["Title"] = ViewBag.StatusCodeDescription ?? ViewBag.StatusCode.ToString();
}

<div class="row justify-content-center">
    <div class="col-lg-5 col-md-7 text-center">
        <h1 class="text-white">@ViewBag.StatusCode - @ViewBag.StatusCodeDescription</h1>
        <a class="text-light" href="@Url.Action("Index", "Home")" title="Go Home">Go Home</a>
    </div>
</div>