@using CreativeTim.Argon.DotNetCore.Free.Infrastructure.AppSettingsModels
@using Microsoft.Extensions.Options

@inject IOptions<ScriptTags> OptionsScriptTags

@{
    ViewData["Title"] = "Maps";
}

@section HeadScripts
{
    @* Get the Google Maps API key from the configuration object *@
    <script src="https://maps.googleapis.com/maps/api/js?key=@OptionsScriptTags.Value?.GoogleMapsApiKey"></script>
}

<div class="row">
    <div class="col">
        <div class="card border-0">
            <div id="map-default" class="map-canvas" data-lat="40.748817" data-lng="-73.985428" style="height: 600px;"></div>
        </div>
    </div>
</div>

@section Breadcrumbs
{
    <div class="col-lg-6 col-7">
        <h6 class="h2 text-white d-inline-block mb-0">Google maps</h6>
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                    <a href="#">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Maps</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Google maps</li>
            </ol>
        </nav>
    </div>
}
